body {
  font-family: 'VT323', monospace;
  background-color: #000;
  color: MediumSpringGreen;
  margin: 40px auto;
  padding: 0 10px;
  max-width: 650px;
  line-height: 1.6;
}

h1 ~ img {
  border-radius: 50%;
  opacity: 0.35;
  filter: hue-rotate(90deg);
  position: absolute;
  top: 5%;
  right: 5%;
}

h1, h2 {
  line-height: 1.2;
}

a {
  color: MediumSeaGreen;
  text-decoration: underline;
}

a:hover {
  color: DarkGreen;
}
